<div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

    <div class="col-xs-12 col-sm-8">
		<div class="main">
		<h1>New user</h1>
			<%= simple_form_for(@user) do |f| %>
			<%= f.input :name %>
    		<%= f.input :email %>
			<%= f.select :user_type, 
    		options_for_select([["Hotelier",1],["Customer",2]]) %>
    		<%= f.input :password %>
    		<%= f.input :password_confirmation %>
			<%= f.collection_select :country_id, @countries, :id, :name, include_blank: true %>
    		<%= f.button :submit %>
		<% end %>    	
				
    	</div>
  	</div>
    <div class="col-xs-6 col-sm-4 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            <a href="#" class="list-group-item active">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
          </div>
        </div><!--/.sidebar-offcanvas-->
  </div>
  
  </div>
</div>